# allowUpdateCheck (boolean:true) -- Set to true to allow checking for updates for ALL of my mods, false to disable
# allowDebugOutput (boolean:false)
# updateTimeoutMilliseconds (int:1500) -- The timeout in milliseconds for the version update check.
# 
# Mon Oct 21 19:20:43 PDT 2013
allowDebugOutput=false
allowUpdateCheck=true
updateTimeoutMilliseconds=1500
